body {
    background-image: url("../Images/background.jpg");
    background-size: cover;
    color: #ffffff;
    font-family: Arial, sans-serif;
    line-height: 1.6; 
}

.title{
    width: 100%;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 100px;
    padding: 10px;
    height: 100vh; /* 100% of the viewport height */
    width: 100vw; /* 100% of the viewport width */
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
  }

  .grid-container > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2a2f35;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    padding: 12px 16px;
    display: block;
    cursor: pointer;
    color: #ffffff; /* Set the text color for dropdown items */
    text-decoration: none; /* Remove default underline for links */
  }
  
  .dropdown-content a:hover {
    background-color: #fdc40c;
    color: #2a2f35; /* Change text color on hover */
  }

.Lrow{
    border:5px solid #fdc40c ;
}

  .but{
    background-color: transparent;
    color: #ffffff;
    border: none !important;
    text-decoration: none;

  }

  .NavBut {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: #ffffff;
    text-decoration: none;
    width: 100%;
    margin-bottom: 6%;
    transition: border-color 0.3s ease; /* Add a smooth transition effect for border color */
    text-align: center;
  }

  .NavBut:hover {
    border-color: #fdc40c;
  }
.fa {
  overflow: hidden;
  outline: none;
  color: #ffffff;
  text-decoration: none;
    width: 45%;
}

.row {
  background-color: #2a2f35; /* Darker grey background color for container */
  border: 5px solid #fdc40c; /* Yellow border color */
  padding: 20px;
  border-radius: 10px; /* Optional: Add rounded corners */
  margin-top: 20px; /* Optional: Add some margin at the top */
  color:#fff;
}


/* Add a solid line between columns */
.col-md-6 {
  border-right: 2px solid #fdc40c;
}

/* Remove right border from the last column to avoid extra line */
.col-md-6:last-child {
  border-right: none;
}